<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>{% block title %}My Portfolio{% endblock %}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      #a {
        -ms-transform: rotate(270deg); /* IE 9 */
        -webkit-transform: rotate(270deg); /* Safari 3-8 */
        transform: rotate(270deg);
      }
    </style>
  </head>

  <body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button>
          <a class="navbar-brand" href="#page-top">Portfolio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="/">About</a>
            </li>
            <li class="page-scroll">
              <a href="/python_apps">Python Apps</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    {% endblock %}
    <!-- Header -->
    <header>
      {% block content%}
      <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
          <div class="col-lg-12">
            <img class="img-responsive img-thumbnail" id="a" src="/static/img/profile_final.jpg" alt="" width="304" height="236" />
            <div class="intro-text ">
              <h1 class="name">
                Hi! I am Anand
              </h1>
              <hr class="star-light" />
              <span class="skills">Python Developer - Django & Flask Framework</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->

    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Portfolio</h2>
            <hr class="star-primary" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <a href="https://celestial96.pythonanywhere.com/" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content"><i class="fa fa-search-plus fa-3x"></i>Space Venture</div>
              </div>
              <img src="/static/img/portfolio/flaskZTMport.png" target="_blank" class="img-responsive" alt="anotherFlaskPortfolio" />
              <br />
              <p><strong>MyPortfolio 1.0 using Flask</strong></p>
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a href="http://akjfun.com" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content"><i class="fa fa-search-plus fa-3x"></i>Head to akjfun.com</div>
              </div>
              <img src="/static/img/portfolio/akjfun.png" class="img-responsive" alt="Django Portfolio" />
              <br />
              <p><strong>MyPortfolio 2.0 using Django, Gunicorn, Ngix and my own Domain akjfun.com</strong></p>
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a href="https://www.youtube.com/channel/UC01icb2h_kVkdGhgwUvu1wg" target="_blank" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content"><i class="fa fa-search-plus fa-3x"></i>Youtube Channel</div>
              </div>
              <img src="/static/img/portfolio/youtube.png" class="img-responsive" alt="Circus tent" />
              <br />
              <p><strong>My youtube channel depicting my projects... P.S. like and sub ;-)</strong></p>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-light" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>I love the Flask Framework. I can make so many things simply by leveraging code that other people have made for me to use</p>
          </div>
          <div class="col-lg-4">
            <p>The languages that you see on this app are HTML, CSS, Python and some JavaScript. By using this BootStrap template I saved myself a lot of time. Instead of creating the HTML and CSS from scratch I was able to edit the template to the way I wanted it to look like.</p>
          </div>
        </div>
      </div>
    </section>

    {% endblock %} {% block footer %}
    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Location</h3>
              <p>India</p>
            </div>
            <div class="footer-col col-md-4">
              <h3></h3>
              <p></p>
            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li>
                  <a href="https://www.facebook.com/akjha132" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UC01icb2h_kVkdGhgwUvu1wg" class="btn-social btn-outline" target="_blank"><span class="sr-only">YouTube</span><i class="fa fa-fw fa-youtube"></i></a>
                </li>
                <li>
                  <a href="https://github.com/akjha96" class="btn-social btn-outline" target="_blank"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Clever Programmer - CP Flask Portfolio 2020- Created on C9
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </footer>
  </body>
</html>
